<div class="row mt-5">
  <div class="col-lg-6 offset-lg-3">
    <h2 class="text-center text-uppercase w-100 text-white">Ingresar Presupuesto</h2>
    <div class="card">
      <div class="card-body">
        <div *ngIf="cantidadIncorrecta" class="text-center mb-3">
          <span class="badge bg-danger">EL PRESUPUESTO DEBE SER MAYOR A CERO</span>
        </div>
        <input [(ngModel)]="cantidad" type="number" class="form-control form-control-lg" placeholder="Ingrese su presupuesto...">
        <button (click)="agregar()" class="btn btn-secondary btn-lg btn-block mt-2">ACEPTAR</button>
      </div>
    </div>
  </div>
</div>

