<h1 class="display-">HOLA MUNDO</h1>

<hr>
<div class="row">
  <div class="col-4">
    <h4>DATA BINDING componente -> DOM</h4>
    <div class="container mt-4">
      <div class="row">
        <h3>Mi nombre es {{nombre}}</h3> <!-- interpolación -->
        <h3>La suma de 2 + 2 = {{ 2 + 2}}</h3> <!-- otro ejemplo -->
        <h3>La suma de 5 + 2 = {{ getSuma(5,2)}}</h3> <!-- otro ejemplo -->
      </div>
    </div>
  </div>
  <div class="col-4">
    <h4>PROPERTY BINDING componente -> DOM</h4>
    <div class="container m-4">
      <div class="row">
        <input type="text" class="form-control" [placeholder]=textoPlaceholder [disabled]=deshabilitado>
      </div>
      <br>
      <img [src]="imgSrc" alt="imagen" width="400px" height="400px">
    </div>
  </div>
  <div class="col-4">
    <h4>EVENT BINDING DOM -> componente</h4>
    <div class="container m-4">
        <h3>{{descripcion}}</h3>
        <button class="btn btn-primary" (click)="cambiarDescripcion()"> Clik me!</button>
    </div>
  </div>
</div>
<div class="container m-4">
  <h4>EVENT BINDING DOM <-> componente</h4>
  <div class="row">
    <input type="text" class="form-control" placeholder="Escribí algo: " [(ngModel)]="twoWayBinding">
  </div>
  <div class="row">
    <h3 class="text-center">
      {{ twoWayBinding}}
    </h3>
  </div>
</div>
<hr>
<div class="container m-4">
  <div class="row">
    <h3>Listado</h3>
    <button class="btn btn-primary ml-auto" (click)="toogle()">Toogle</button>
  </div>
  <br>
  <table class="table" *ngIf="mostrar">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let list of listado; let i = index" [ngSwitch]="list.estado">
          <td *ngSwitchCase="'Promocionado'" class="bg-success">{{i+1}}</td>
          <td *ngSwitchCase="'Aprobado'" class="bg-warning">{{i+1}}</td>
          <td *ngSwitchCase="'Libre'" class="bg-danger">{{i+1}}</td>
          <td [ngClass]="list.estado==='Promocionado' ? 'badge bg-success' : 'badge bg-warning'">{{list.nombre}}</td>
          <td [ngStyle]="{'font-style': list.estado==='Promocionado' ? 'italic' : 'normal' }">{{list.estado}}</td>
        </tr>
      </tbody>
  </table>
  <h3 *ngIf="listado.length===0">No hay datos para mostrar</h3>
</div>
