<div class="row">
  <div class="col-lg-4">
    <ul class="list-group">
      <li class="list-group-item " style="background-color: red;"></li>
      <li class="list-group-item " style="background-color: orange;"></li>
      <li class="list-group-item " style="background-color: yellow;"></li>
      <li class="list-group-item " style="background-color: green;"></li>
      <li class="list-group-item " style="background-color: teal;"></li>
      <li class="list-group-item " style="background-color: blue;"></li>
      <li class="list-group-item " style="background-color: purple;"></li>
    </ul>
  </div>
</div>

